<head>
  <meta charset="UTF-8">
  <title>Stay on the Tractor</title>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="https://use.fontawesome.com/c606ab7025.js"></script>

<link rel="stylesheet" type="text/css" href="/assets/css/style.css">

<link href="https://fonts.googleapis.com/css?family=ABeeZee" rel="stylesheet">
</head>

<body>

<div class="jumbotron">
  <h1 class="display-3">Stay on the Tractor</h1>
    <p class="lead">Manage start and end dates for web products with this application.</p>
  <hr class="my-4">
    <p>Search for the Generic Article ID and click on "Update this Article"</p>

      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
</div>

<div>
  <p id = "generic">Generic Article ID</p>
  <p id = "site">Site Code</p>
  <p id = "start">Start Date</p>
  <p id = 'end'>End Date</p>
  <!-- Pass in data from server.js -->
  <ul id = "myList">
    {{#each webform}}
    	<li>
    		<p id= 'pgeneric'><span class="label" id = "Generic_Article_Id listname"></span> {{this.Generic_Article_Id}}</p>
        <p id = 'psite'><span class="label" id = "Site_Code listname"></span>{{this.Site_Code}}</p>
        <p id = 'pstart'><span class="label" id = 'Start_Date listname'></span> {{this.Start_Date}}</p>
              <p id = 'pend'><span class="label" id = "End_Date listname"></span> {{this.End_Date}}</p>

        <a href="/{{this.id}}">Update this Article</a>
    	</li>
    {{/each}}
  </ul> 
</div>

<script>

console.log("working?");
function myFunction() {
    // Declare variables
    var input, filter, ul, li, a, i;
    input = document.getElementById('myInput');
    filter = input.value.toUpperCase();
    ul = document.getElementById("myList");
    li = ul.getElementsByTagName('li');

    // Loop through all list items, and hide those who don't match the search query
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("p")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>


